GEMINI_API_KEY= SET THE API KEY HERE
EXPENSI_ENABLED=True
# Note: This is an example file. Do not use real API keys or sensitive information here.
# NEVER EVER COMMIT OR PUSH REAL API KEYS TO GITHUB OR ANY PUBLIC REPOSITORY.
# Use this file as a template to create your own .env file with actual values.
# Set your OWN .env file in a .gitignore to keep it secure.